<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="lux">
      <section name="MyConfig" type="Lux.Tests.Config.XmlConfigManager.XmlConfigManager_IXmlNodeTests+MyConfig, Lux.Tests" />
      <section name="MyAppConfig" type="Lux.Tests.Config.XmlConfigManager.XmlConfigManager_AppConfigDescriptorTests+MyAppConfig, Lux.Tests" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TestSetting" value="test" />
  </appSettings>
</configuration>