<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- Appenders: Where logging output should go -->

  <appender name="ROOT.TRACE" type="log4net.Appender.TraceAppender, log4net">
    <immediateFlush value="true" />
  </appender>

  <appender name="ROOT.CONSOLE" type="log4net.Appender.ColoredConsoleAppender" >
    <mapping>
      <level value="FATAL" />
      <foreColor value="Yellow, HighIntensity" />
      <backColor value="Red" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White, HighIntensity" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
  </appender>




  <!-- Loggers: The different loggers and their loglevel -->

  <logger name="Logger.FirstChanceExceptions" additivity="false">
    <level value="ERROR" />

    <appender-ref ref="ROOT.CONSOLE" />
    <appender-ref ref="ROOT.TRACE" />
    <!--<appender-ref ref="EXCEPTIONS.LOG" />-->
  </logger>

  <logger name="Logger.UnhandledExceptions" additivity="false">
    <level value="ERROR" />

    <appender-ref ref="ROOT.CONSOLE" />
    <appender-ref ref="ROOT.TRACE" />
    <appender-ref ref="EXCEPTIONS.LOG" />

    <!-- todo: CrashReport appender? -->
  </logger>


  <root>
    <level value="ALL" />
    <appender-ref ref="ROOT.CONSOLE" />
    <appender-ref ref="ROOT.TRACE" />
    <appender-ref ref="ROOT.LOG" />
  </root>
</log4net>